<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

<head>
  {% block head %}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta charset="utf-8" />
  <!-- CSS -->
  {% assets filters="libsass,cssmin", output="css/main.min.css", "scss/main.scss" %}
  <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
  {% endassets %}
  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ FAVICON }}" />
  <link rel="shortcut icon" href="{{ FAVICON }}" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather:400,400i,700,700i&display=swap"
    rel="stylesheet">
  {% if FEED_ALL_ATOM %}
  <link
    href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
    type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}"
    type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
  {% endif %}
  {% if FEED_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}"
    type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_RSS %}
  <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}"
    type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  {% if CATEGORY_FEED_ATOM and category %}
  <link
    href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}"
    type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
  {% endif %}
  {% if CATEGORY_FEED_RSS and category %}
  <link
    href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}"
    type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
  {% endif %}
  {% if TAG_FEED_ATOM and tag %}
  <link
    href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}"
    type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
  {% endif %}
  {% if TAG_FEED_RSS and tag %}
  <link
    href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}"
    type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
  {% endif %}
  {% endblock head %}
</head>

<body id="index" class="page home">
  <div id="sidebar">
    <header>
      <div class="site-title">
        <a href="{{ SITEURL }}/">{{ SITENAME }}</a>
      </div>
      <p class="lead">{{ SITESUBTITLE }}</p>
    </header>
    <nav id="sidebar-nav-links">
      {% for title, link in MENUITEMS %}
      <a href="{{ link }}">{{ title }}</a>
      {% endfor %}
      {% if DISPLAY_PAGES_ON_MENU %}
      {% for p in pages %}
      {% if p.title != 'Home' %}
      <a class="page-link {% if p == page %} class=" active" {% endif %}"
        href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% if DISPLAY_CATEGORIES_ON_MENU %}
      {% for cat, null in categories %}
      <a class="page-link {% if cat == category %} class=" active" {% endif %}"
        href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
      {% endfor %}
      {% endif %}
    </nav><!-- /#menu -->
    <p>&nbsp;</p>
    <p>
      &copy; {{ YEAR }},
      Boston Python.
    </p>
  </div>

  <main class="container">
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    <footer id="contentinfo" class="body">
      <address id="about" class="vcard body">
        Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
        which takes great advantage of <a href="http://python.org">Python</a>.
      </address><!-- /#about -->
    </footer><!-- /#contentinfo -->
  </main>
</body>

</html>